{% extends 'base.html' %}

{% block main_content%}
<br>
<br>
<br>
<br>
{%if request.user.is_superuser%}
    <a href="{% url 'currency:rate-create' %}">Create Rate</a>
{%endif%}
<br>
<br>
<br>

    <table class="table table-striped table-bordered"  > 
        <!-- <colgroup>
            <col style="width: 40px">
            <col style="width: 70px" span='2'>
          </colgroup> -->
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Source</th>
            {%if request.user.is_authenticated%}
                <th>Actions</th>
            {%else%}
                <td>
                    Please <a href="{% url 'login' %}">log in</a> to see actions
                </td>
            {%endif%}
        </tr> 
        {% for rate in rate_list %}    
            <tr>
                <td>{{rate.id}}</td>
                <td>{{rate.get_currency_name_display}}</td>   <!--  Так выбираются чойсы по значению -->
                <td>{{rate.bid}}</td>
                <td>{{rate.ask}}</td>
                <td><a href="{% url 'currency:source-details' rate.source_id %}">{{ rate.source.name }}</a></td>
                {%if request.user.is_authenticated%}
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a class="dropdown-item" href="{% url 'currency:rate-details' rate.pk%}">Details</a>
                                    {%if request.user.is_superuser%}
                                        <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.pk%}">Delete</a>
                                        <a class="dropdown-item" href="{% url 'currency:rate-update' rate.pk%}">Update</a>
                                    {%endif%}

                            </div>
                        </div>
                    </td>
                {%endif%}
            </tr>
        {% endfor %}
    </table>
{% endblock %}