{% extends 'base.html' %}


{% block main_content%}

<br>

<a href="{% url 'currency:rate-create' %}">Create Rate</a>

<br>
<br>
<br>

    <table> 
        <colgroup>
            <col style="width: 40px">
            <col style="width: 70px" span='2'>
          </colgroup>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Source</th>
        </tr> 
        {% for rate in rate_list %}    
            <tr>
                <td>{{rate.id}}</td>
                <td>{{rate.currency_name}}</td>
                <td>{{rate.bid}}</td>
                <td>{{rate.ask}}</td>
                <td>{{rate.source}}</td>

                {%if request.user.is_autentificated%}
                    <td><a href="{% url 'currency:rate-details' rate.pk%}">Details</a></td>
                {%endif%}

                {%if request.user.is_superuser%}
                    <td><a href="{% url 'currency:rate-details' rate.pk%}">Details</a></td>
                    <td><a href="{% url 'currency:rate-delete' rate.pk%}">Delete</a></td>
                    <td><a href="{% url 'currency:rate-update' rate.pk%}">Update</a></td>
                {%endif%}

            </tr>
        {% endfor %}
    </table>
{% endblock %}