{% extends 'base.html' %}


{% block main_content%}

<br>

    <a href="/rate/create/">Create Rate</a>

<br>
<br>
<br>

    <table> 
        <colgroup>
            <col style="width: 40px">
            <col style="width: 70px" span='2'>
          </colgroup>
        <tr>
            <th>Id</th>
            <th>Ask</th>
            <th>Bid</th>
        </tr> 
        {% for rate in rate_list %}    
            <tr>
                <td>{{rate.id}}</td>
                <td>{{rate.ask}}</td>
                <td>{{rate.bid}}</td>

                <td><a href="/rate/delete/{{ rate.id }}/">Delete</a></td>
                <td><a href="/rate/update/{{ rate.id }}/">Update</a></td>
                <td><a href="/rate/details/{{ rate.id }}/">Details</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}